.heroSection{
    width: 100%;
    overflow: hidden;
}
#heroImg{
    height: 650px;
    width: 1500px;
    display: block;
}
.heroWords{
    margin: -80px 0px 0px 0px;
    color: var(--accents);
    top: 0;
}
.heroBtns a{
    margin: -150px 0px 0px 0px;
    background-color: var(--buttons);
    border-radius: 15%;
    color: white;
}
main h2{
    text-align: center;
    background-color: var(--backgroundMain);
}
.featured{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--buttons);
}
.featuredItems{
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundMain);
    width: 200px;
    height: 225px;
    padding: 5px;
    margin: 10px;
}
.featuredItems img{
    width: 175px;
    height: 100px;
}
.addTo{
    background: none;
    border: none;
}
.addTo:hover{
    cursor: pointer;
    background-color: #2E294E;
    color: white;
}
.addTo:active{
    color: yellow;
}