.heroSection{
    width: 100%;
    overflow: hidden;
}
#heroImg{
    height: 700px;
    width: 1000px;
}
main h2{
    text-align: center;
    background-color: var(--backgroundMain);
}
.featured{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--buttons);
}
.featuredItems{
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundMain);
    width: 200px;
    height: 225px;
    padding: 5px;
    margin: 10px;
}
.featuredItems img{
    width: 175px;
    height: 100px;
}
.addTo{
    background: none;
    border: none;
}
.addTo:hover{
    cursor: pointer;
    background-color: #2E294E;
    color: white;
}
.addTo:active{
    color: yellow;
}